@import "normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

[data-elm-hot="true"] {
  height: inherit;
}

.CodeMirror {
  height: auto !important;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1.6;
}


h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

@responsive {
  .flex-basis-25 {
    flex-basis: 25%;
  }

  .flex-basis-100 {
    flex-basis: 100%;
  }
}
